// bower:scss
// endbower

#sankey-chart-container .node rect {
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

#sankey-chart-container .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

#sankey-chart-container .link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

#sankey-chart-container .link:hover {
  stroke-opacity: 0.5;
}
